html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.image-responsive {
  width: 100%;
  height: auto; }

.static-pic {
  height: 75px;
  width: 125px;
  float: left; }

.weather {
  margin: 0px 15px;
  height: 35px; }

.story-box {
  background-color: #f6f6f6;
  border-top: 1px solid #4fc6df;
  margin: 10px 15px; }
  .story-box:hover {
    background-color: #dddddd; }
  @media (min-width: 740px) {
    .story-box {
      display: block;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .story-box::after {
        clear: both;
        content: "";
        display: block; }
      .story-box:last-child {
        margin-right: 0; } }

.first-story {
  margin: 0px 15px; }
  @media (min-width: 740px) {
    .first-story {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .first-story:last-child {
        margin-right: 0; } }

#first-headline {
  height: 75px; }

#first-scndheadline {
  height: 75px; }

.second-story, .third-story, .fourth-story, .fifth-story, .sixth-story, .seventh-story, .eighth-story, .ninth-story, .tenth-story {
  height: 85px; }

#second-photo, #third-photo, #fourth-photo {
  height: 75px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  min-width: 125px; }
  #second-photo:last-child, #third-photo:last-child, #fourth-photo:last-child {
    margin-right: 0; }

#second-headline, #third-headline, #fourth-headline {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  height: 75px; }
  #second-headline:last-child, #third-headline:last-child, #fourth-headline:last-child {
    margin-right: 0; }

#fifth-headline, #sixth-headline, #seventh-headline, #eighth-headline, #ninth-headline, #tenth-headline {
  height: 40px; }

.masthead {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  background-color: #005689;
  height: 50px; }
  .masthead:last-child {
    margin-right: 0; }

.masthead-options {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .masthead-options:last-child {
    margin-right: 0; }

.nav-left, .nav-right {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 35px;
  color: #fff; }

.nav-left {
  display: table-cell;
  width: 75%;
  background-color: #00456E;
  z-index: 1; }

.nav-right {
  display: table-cell;
  width: 25%;
  background-color: #333333;
  z-index: 9; }

.nav-right h3, .nav-right img {
  float: right; }

#sign-in-pic {
  margin-left: 15px; }

svg:not(#logo-svg) {
  border: 1px solid #019FDE;
  border-radius: 100px;
  margin-top: 7px;
  padding: 4px;
  height: 30px;
  width: 30px; }

#jobs, #us-edition, #logo {
  float: right; }

#search, #us-edition, #jobs, #sign-in, #become-a-supporter, #subscribe, #google-supporter {
  display: none; }

#logo {
  width: 160px;
  margin-right: 25px; }

.nav-left {
  width: 90%;
  position: relative; }

.nav-solution {
  position: absolute;
  min-width: 740px;
  z-index: 0;
  overflow-y: hidden; }
  .nav-solution h3 {
    display: inline-block;
    float: left;
    margin-right: 20px; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: "dejavu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DejaVuSerif-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerif-webfont.woff2") format("woff2"), url("../fonts/DejaVuSerif-webfont.woff") format("woff"), url("../fonts/DejaVuSerif-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerif-webfont.svg#dejavu") format("svg"); }
body {
  font-family: "dejavu"; }

h2 {
  font-size: 2.4rem;
  color: #5c5c5c; }

h4 {
  font-size: 1.75rem;
  color: #5c5c5c; }

p, li {
  font-size: 1.5rem;
  color: #5c5c5c; }

li {
  color: white;
  font-family: "dejavu";
  font-size: 1.8rem; }

.masthead {
  color: #fff; }

/*# sourceMappingURL=application.css.map */
