//colors
$wild-sand : #f6f6f6;
$orient: #005689;
$masthead-text: #fff;
$regal-blue : #00456E;
$mine-shaft : #333333;
$viking     : #4fc6df;
$scorpion: #5c5c5c;
$cerulean : #019FDE;

//breakpoints
$mobile: 720px;
$tablet: 1000px;

$padding: 15px;
