.container {
  @include outer-container(100%);
  background-color: white;
  // @include omega();
  //container colors
  .masthead{
    background-color: $orient;
  }
  .nav-wrapper{
    background-color: $regal-blue;
    .nav-right{
      background-color: $mine-shaft;
    }
  }
  .story-box, .story-lead, .features .features-lead, .features .features-box{
    background-color: darken($wild-sand, 1%);
    border-top: 1px solid $cerulean;
  }
}
