.container {
  @include outer-container(100%);
  background-color: darken($wild-sand, 5%);
  // @include omega();
  //container colors
  .masthead{
    background-color: $orient;
  }
  .nav-wrapper{
    background-color: $regal-blue;
    .nav-right{
      background-color: $mine-shaft !important;
    }
  }
  .story-box{
    background-color: $wild-sand;
  }
}
