.container{
  .headlines{
    h3{
      font-size: .7rem;
      @include pad(0 $padding);
      @include media ($mobile){
        display: none;
      }
      @include media ($tablet){
        display: block;
      }
    }
  }
  .masthead{
    #logo {
      width: 160px;
    }
  }
  .masthead-options{
    svg:not(#logo-svg){
      border: 1px solid $cerulean;
      border-radius: 100px;
      margin-top: 7px;
      padding: 4px;
      height: 30px;
      width: 30px;
    }
  }
  //responsive hide show
  .masthead{
    .masthead-options{
      #become-a-supporter, #search, #us-edition, #jobs, #google-supporter, #sign-in, #subscribe{
        @include media ($mobile){
          display: none;
        }
        @include media ($tablet){
          display: none;
        }
      }
    }

    #logo{
      @include media ($tablet){
        width: 200px;
        text-align: right;
      }
    }
  }

  .nav-wrapper{
    .nav-left{
      @include ellipsis(100%);
    }
  }
}
