.container{
  .masthead{
    #logo {
      width: 160px;
    }
  }
  .masthead-options{
    svg:not(#logo-svg){
      border: 1px solid $cerulean;
      border-radius: 100px;
      margin-top: 7px;
      padding: 4px;
      height: 30px;
      width: 30px;
    }
  }
  //responsive hide show
  .masthead{
    .masthead-options{
      #become-a-supporter, #search, #us-edition, #jobs, #google-supporter, #sign-in, #subscribe{
        @media (max-width: $mobile){
          display: none;
        }
      }
    }
  }

  .nav-wrapper{
    .nav-left{
      @include ellipsis(100%);
    }
  }
}
