html{
  font-size: 62.5%;
}

@include font-face("dejavu", "../fonts/DejaVuSerif-webfont");
body{
    font-family: "dejavu";
}

h2{
  font-size: 2.4rem;
  color: $scorpion;
}
h4{
  font-size: 1.75rem;
    color: $scorpion;
}
p, li{
 font-size: 1.5rem;
 color: $scorpion;
}
li {
  color: white;
  font-family: "dejavu";
  font-size: 1.8rem;
}
.masthead {
  color: $masthead-text;
}
